/* submitbutton */
#btn{
  background-color:rgb(14, 224, 81);
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  border: solid green;
}
/* inputField */
#text{
  background-color:rgb(225, 230, 233);
  display: block;
  margin: auto;
  width: 300px;
  height: 35px;
  font-size: 30px;
  border: solid;
  
}
/* placeholder */
#text::-webkit-input-placeholder {
    font-size: 15px;
    line-height: 3;
    padding-left: 10px;
    color: black;
}

/* containerDiv */
#p{
  border: solid white;
  border-radius: 10px;
  margin: 10px 10px;
  color: white;
  height: 90px;
  

}
/* yellowDiv */
.class{
  background-color: #ebc334;
  border: solid;
  width: 700px;
  margin: auto;

  border: solid rgb(57, 61, 33);
  min-height: 730px;
}

body{
  background-color: black;
}
/* innerBlackDiv */
#innerDiv{
  background-color: rgb(22, 22, 22);
  width: 350px;
  min-height: 400px;
  margin:  70px auto;
  border-radius: 20px;
  border: solid rgb(86, 86, 211);
  /* overflow: auto; */
}

/* heading */
#head{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

/* crossButton */
#cross{
  display: inline-block;
  color: red;
  height: 20px;
  margin-left: 10px;
  padding-top: 10px;
  cursor:pointer;
}

/* completeButton */
#complate{
  display: inline-block;
  background-color: blue;
  margin-left: 220px;
  cursor:pointer;
 }
 
 