
#btn{
  background-color:rgb(14, 224, 81);
  display: block;
  margin: auto;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  border: solid green;
}

#text{
  background-color:rgb(225, 230, 233);
  display: block;
  margin: auto;
  width: 300px;
  height: 35px;
  font-size: 30px;
  border: solid;

}

#text::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    /* text-align: center; */
    padding-left: 10px;
    color: black;
}

#p{
  color: white;
  text-align: left;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border: solid  white 1px;
  border-radius: 5px;
  margin-left: 25px;
  margin-right: 25px;
  box-sizing: border-box;

}
.class{
  background-color: #ebc334;
  border: solid;
  width: 700px;
  margin: auto;
  height: 730px;
  border: solid rgb(47, 47, 53);
  
}
body{
  background-color: black;
}
#innerDiv{
  background-color: rgb(22, 22, 22);
  width: 350px;
  min-height: 400px;
  margin:  70px auto;
  border-radius: 20px;
  border: solid rgb(86, 86, 211);
  /* overflow: auto; */
  /* max-width: 300px;
  border-color: aquamarine;
  background-color: rgb(48, 48, 49);
  margin: 25px auto;
  overflow: auto;
  min-height: 400px;
  border: 5px solid rgb(46, 4, 160);
  border-radius: 10px;
  padding: 30px;
  border-radius: 10px;
  color: azure;
  font-family: cursive;
  text-align: center; */
  
  
}
#head{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

#cross{
  display: inline-block;
  
  height: 20px;
  margin-left: 10px;
  padding-top: 10px;
  cursor:pointer;
  

}
#complate{
  display: inline-block;
  background-color: blue;
  margin-left: 120px;
 margin-bottom: 10px;
 cursor:pointer;

  
}